<% include ./components/header.ejs %>
    <!-- <form action="/kisaan/signup" method="post">
        <input type="text" name="username" placeholder="username">
        <input type="email" name="email" placeholder="email">
        <input type="text" name="state" placeholder="state">
        <input type="text" name="city" placeholder="city">
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="submit">
    </form> -->

    <body class="bg-gradient-to-r from-[#F28383] from-10% via-[#9D6CD2] via-30% to-[#481EDC] to-90% text-center">
        <div class="login-container">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-5 max-w-[980px]">
                <!-- Sign Up Form -->
                <div class="bg-blue-950 bg-opacity-50 shadow-xl p-10 rounded-2xl">
                    <h1 class="text-5xl font-bold text-white mb-5">Sign Up</h1>
                    <form  action="/kisaan/signup" method="post" class="space-y-6 text-white">
                        <div class="relative">
                            <div class="absolute top-1 left-1 bg-white-medium rounded-full p-2 flex items-center justify-center text-blue-300">
                                <i class="ri-user-line"></i>
                            </div>
                            <input
                                type="text" name="username" placeholder="username"
                                class="w-full bg-white-light py-2 px-12 rounded-full focus:bg-black-dark focus:outline-none focus:ring-1 focus:ring-neon-blue focus:drop-shadow-lg"
                            />
                        </div>
                        <div class="relative">
                            <div class="absolute top-1 left-1 bg-white-medium rounded-full p-2 flex items-center justify-center text-blue-300">
                                <i class="ri-mail-line"></i>
                            </div>
                            <input
                                type="email" name="email" placeholder="email"
                                class="w-full bg-white-light py-2 px-12 rounded-full focus:bg-black-dark focus:outline-none focus:ring-1 focus:ring-neon-blue focus:drop-shadow-lg"
                            />
                        </div>
                        <div class="relative">
                            <div class="absolute top-1 left-1 bg-white-medium rounded-full p-2 flex items-center justify-center text-blue-300">
                                <i class="ri-building-4-line"></i>
                            </div>
                            <input
                                type="text" name="city" placeholder="city"
                                class="w-full bg-white-light py-2 px-12 rounded-full focus:bg-black-dark focus:outline-none focus:ring-1 focus:ring-neon-blue focus:drop-shadow-lg"
                            />
                        </div>
                        <div class="relative">
                            <div class="absolute top-1 left-1 bg-white-medium rounded-full p-2 flex items-center justify-center text-blue-300">
                                <i class="ri-building-4-line"></i>
                            </div>
                            <input
                                type="text" name="state" placeholder="state"
                                class="w-full bg-white-light py-2 px-12 rounded-full focus:bg-black-dark focus:outline-none focus:ring-1 focus:ring-neon-blue focus:drop-shadow-lg"
                            />
                        </div>
                
                        <div class="relative">
                            <div class="absolute top-1 left-1 bg-white-medium rounded-full p-2 flex items-center justify-center text-blue-300">
                                <i class="ri-lock-line"></i>
                            </div>
                            <input
                                type="password" name="password" placeholder="password"
                                class="w-full bg-white-light py-2 px-12 rounded-full focus:bg-black-dark focus:outline-none focus:ring-1 focus:ring-neon-blue focus:drop-shadow-lg"
                            />
                        </div>
                        <input
                            type="submit" value="submit" class="bg-gradient-to-r from-blue-400 to-cyan-200 w-full font-semibold rounded-full py-2"
                        />
                    </form>
                </div>
                <!-- Additional Information -->
                <div class="bg-violet-950 bg-opacity-50 shadow-xl p-10 rounded-2xl">
                    <h2 class="text-3xl font-semibold text-white mb-5">Why Sign Up?</h2>
                    <p class="text-white text-lg mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae fermentum elit. Phasellus id lectus sed libero consequat venenatis.</p>
                    <p class="text-white text-lg mb-4">Nullam varius, neque a fermentum maximus, elit odio tempus turpis, et pharetra diam velit nec ligula.</p>
                    <p class="text-white text-lg">In sit amet nisi ac magna varius convallis. Ut maximus, ex eget hendrerit volutpat, urna quam auctor turpis, vel egestas tortor tellus vel neque.</p>
                </div>
            </div>
        </div>
        </body>

<% include ./components/header.ejs %>