<% include ./components/header.ejs %>
    <form action="/officer/signup" method="post">
        <input type="text" name="username" placeholder="username">
        <input type="email" name="email" placeholder="email">
        <input type="text" name="fullName" placeholder="fullName">
        <input type="text" name="designation" placeholder="designation">
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="submit">
    </form>
<% include ./components/footer.ejs %>